@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-14xtt4');
	src:url('../fonts/icomoon.eot?#iefix-14xtt4') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-14xtt4') format('truetype'),
		url('../fonts/icomoon.woff?-14xtt4') format('woff'),
		url('../fonts/icomoon.svg?-14xtt4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.contact dt, .popup .close::before, .popup .close {
  text-transform: lowercase;

	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	
	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

