.popup {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: calc(100vh - 6ex);
  max-width: 100%;
  background-color: ivory;
  padding: 0.5rem;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
}
.popup[data-display-state='showing'],
.popup[data-display-state='finishedHiding'],
.popup[data-display-state='hidden'] {
  -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
          transform: scale(1, 0);
}
.popup {
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transition-duration: 0;
          transition-duration: 0;
  display: none;
}
.popup[data-display-state] {
  transition-property: max-width, max-height, z-index,
                       -moz-transform, -webkit-transform, -webkit-transform;
  transition-property: max-width, max-height, z-index,
                       -moz-transform, -webkit-transform, transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  display: block;
}
.popup[data-display-state='hidden'] {
  display: none;
  -webkit-transition-property: none;
          transition-property: none;
}

.popup.top-most {
  z-index: 120;
}
.popup article {
  margin-top: 2ex;
  max-height: calc(100vh - 6ex - 2ex);
  overflow: auto;
}
main.popup-visible {
  -webkit-filter: blur(4px) brightness(0.8);
  filter: blur(4px) brightness(0.8);
}
.popup:not(.top-most) {
  -webkit-filter: blur(2px) brightness(0.9);
  filter: blur(2px) brightness(0.9);
}
.popup .screenshot {
  display: none;
}
.popup .close {
  /* hide the button, but keep it there for Firefox */
  background-color: transparent;
  border: none;
  outline: none;
  color: transparent;
  left: calc(50% - 2rem);
  top: -1rem;
}
.popup .close, .popup .close::before {
  position: absolute;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
.popup .close::before {
  content: 'V';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: Raleway, sans-serif;
  color: white;
  background-color: darkCyan;
  border: 1px solid darkCyan;
}
.popup, .popup .close::before {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
}
.popup::after {
  content: '';
  display: block;
  clear: both;
}

@media (min-width: 60rem) {
  .popup {
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
        -ms-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
    border: 1px solid darkCyan;
    padding: 2rem;
    max-width: calc(100% - 10em);
    max-height: calc(100vh - 4ex);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
  }
  .popup[data-display-state='showing'],
  .popup[data-display-state='finishedHiding'],
  .popup[data-display-state='hidden'] {
    -webkit-transform: translate(-50%, -50%) scale(0, 0);
        -ms-transform: translate(-50%, -50%) scale(0, 0);
            transform: translate(-50%, -50%) scale(0, 0);
  }
  .popup.project {
    width: calc(100% - 4rem);
  }
  .popup .screenshot {
    display: block;
    width: auto;
    max-height: calc(100vh - 18ex);
  }
  .popup .close {
    left: -1rem;
  }
  .popup .close::before {
    content: 'X';
  }
}

