@import url(fonts.css);
@import url(popup.css);
@import url(icon.css);

html, body {
  margin: 0;
  padding: 0;
  background-color: beige;
}
* {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}
main {
  overflow-y: scroll;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

main article {
  padding: 0.5em;
  margin: 0.5rem;
  width: 100%;
  box-shadow: 1px 1px 1px lightgray;
}
main article .story, main article .technologies, main article .skills {
  display: none;
}

ul.names, ul.names li {
  list-style: none;
}
ul.names {
  display: inline;
  padding: 0;
  margin: 0 0 1ex 0;
}
ul.names li {
  display: inline-block;
  border: 1px solid darkGray;
  background-color: snow;
  border-radius: 0.2em;
  padding: 0.2em;
  margin: 0.2ex 0;
}
li.project, li.technology {
  list-style: none;
  margin-bottom: 0.5rem;
}

h2 {
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 1.5rem;
}
h3 {
  margin: 0 0.5rem 0 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  width: 5em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
h3, .type {
  color: darkSlateGray;
  font-variant: small-caps;
  text-transform: lowercase;
  display: inline-block;
}
main .skill .type, main .technology .type {
  display: none;
}
.type::after {
  content: '';
  display: block;
}
.project a.url {
  text-decoration: initial;
  color: initial;
}
.screenshot {
  float: left;
  width: 25%;
  margin: 0 1rem 0 0;
  border: 1px solid darkCyan;
}
section.skills {
  clear: both;
}

p {
  margin: 1.5ex 0;
  padding: 0;
}

ul.contributions, ul.contributions li {
  list-style: none;
  padding: 0;
}
ul.contributions {
  margin: 1ex 0;
}
.contributions li {
  margin: 0.5ex 0 0.5ex 1em;
  text-indent: -1em;
}
.contributions li::before {
  content: '*';
  display: inline-block;
  width: 1em;
  text-indent: 0;
  color: darkGray;
}

nav {
  box-shadow: 0 5px 5px -3px lightGray;
  z-index: 100;
  background-color: ivory;
}
.pages.names {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pages > label {
  width: 10em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
nav input[type="radio"] {
  display: none;
}
nav .label {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 0.5ex 0;
}
nav :checked + .label {
  color: darkCyan;
  box-shadow: 0 5px 5px -4px darkCyan;
}

a, a:visited {
  text-decoration: none;
  color: darkSlateGray;
}
a, .clickable, main article.project {
  cursor: pointer;
  -webkit-transition-property: color, border-color, background-color, box-shadow;
          transition-property: color, border-color, background-color, box-shadow;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
a:hover, .clickable:hover {
  background-color: lightSkyBlue;
  color: darkSlateGray;
  border-color: darkSlateGray;
}
main article.project:hover {
  background-color: paleGoldenRod;
}
a:hover, .clickable:hover {
}
li.clickable:hover, main article.project:hover {
  box-shadow: 0 0 1px darkCyan;
}
.photo {
  float: left;
  margin: 0 1em 1em 0;
  border-radius: 1em;
  max-height: 30vh;
}
.photo + p {
  margin-top: 0;
}
article::after {
  content: '';
  display: block;
  clear: both;
}
.contact {
  margin: 0;
  padding: 0;
}
.contact dt, .contact dd {
  color: darkSlateGray;
  display: inline;
  line-height: 4ex;
  vertical-align: middle;
  margin: 0 0.5em 0.5ex 0;
  padding: 0;
}
.contact dt::before {
  line-height: 0;
  content: '';
  display: block;
}
.contact dt:first-child::before {
  display: none;
}

@media (min-width: 60rem) {
  main article .type {
    display: block;
  }
  .photo {
    width: 20em;
    margin: 0 2em 0 0;
    max-height: initial;
  }
  p, ul {
    margin: 3ex 0;
  }
  .photo + p {
    margin-top: 0;
  }
  .screenshot {
    margin: 0 2em 0 0;
  }
  main article {
    max-width: 60%;
    padding: 1.5em;
  }
  main article.project {
    width: calc(50% - 2rem);
  }
  main article.skill, main article.technology {
    width: calc(33% - 3rem);
  }
  section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  section.skills {
    clear: none;
  }
}

