@import url(fonts.css);

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: beige;
}
body {
  display: flex;
  flex-flow: column;
}
main {
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#popup {
  position: fixed;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 10em);
  max-height: calc(100% - 10ex);
  border: 1px solid darkCyan;
  background-color: ivory;
  padding: 2rem;
}
main.popup-visible {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
#popup.project {
  width: calc(100% - 2em);
}
#popup .screenshot {
  width: auto;
  max-height: calc(100vh - 14ex);
}
#popup #close {
  visibility: hidden;
}
#popup #close::after {
  visibility: visible;
  content: 'X';
  font-family: Raleway, sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  color: white;
  background-color: darkCyan;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  border: 1px solid darkCyan;
  position: absolute;
  left: -1rem;
  top: -1rem;
  cursor: pointer;
}
#popup, #popup #close::after {
  box-shadow: 0 0 3px 2px darkGray;
}

@media (min-width: 80rem) {
  main article {
    width: calc(50% - 2rem);
  }
  main article.project {
    width: calc(100% - 2rem);
  }
}

main article {
  padding: 0.5em;
}
main article {
  margin: 0.5rem;
  box-shadow: 1px 1px 1px lightgray;
}

ul.names, ul.names li {
  list-style: none;
}
ul.names {
  display: inline;
  padding: 0;
  margin: 0;
}
ul.names li {
  display: inline-block;
  border: 1px solid darkGray;
  border-radius: 0.2em;
  padding: 0.2em;
  margin: 0.2ex 0;
}
li.project, li.technology {
  list-style: none;
  margin-bottom: 0.5rem;
}

h2 {
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 1.5rem;
}
section {
  display: flex;
  align-items: baseline;
}
h3 {
  margin: 0 0.5rem 0 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  width: 7rem;
  flex: 0 0 auto;
}
h3, .type {
  color: darkSlateGray;
  font-variant: small-caps;
  text-transform: lowercase;
  display: inline-block;
}
main .skill .type, main .technology .type {
  display: none;
}
.type::after {
  content: '';
  display: block;
}
.project a.url {
  text-decoration: initial;
  color: initial;
}
.screenshot {
  width: 15rem;
  margin: 0 1rem 0 0;
  float: left;
  border: 1px solid darkCyan;
}
.screenshot::after {
  content: '';
  display: block;
  box-shadow: 0 0 2px -2px black;
}

p {
  margin: 1.5ex 0;
  padding: 0;
}

ul.contributions, ul.contributions li {
  list-style: none;
  padding: 0;
}
ul.contributions {
  margin: 1ex 0;
}
.contributions li {
  margin: 0.5ex 0 0.5ex 1em;
  text-indent: -1em;
}
.contributions li::before {
  content: '*';
  display: inline-block;
  width: 1em;
  text-indent: 0;
  color: darkGray;
}

nav {
  box-shadow: 0 5px 5px -3px lightGray;
  z-index: 100;
  background-color: ivory;
}
.pages.names {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav input[type="radio"] {
  display: none;
}
nav .label {
  display: inline-block;
  padding: 0.5ex 2em;
}
nav :checked + .label {
  color: darkCyan;
  box-shadow: 0 5px 5px -4px darkCyan;
}

a, a:visited {
  text-decoration: none;
  color: darkSlateGray;
}
a, .clickable, main .screenshot {
  cursor: pointer;
  transition: all 400ms ease;
}
a:hover, .clickable:hover, main .screenshot:hover {
  color: darkCyan;
  background-color: ghostWhite;
}
li.clickable:hover, main .screenshot:hover {
  box-shadow: 0 0 1px darkCyan;
}

