<article>
  <img class='photo' alt='photo' src='image/photo.png'>
  <p>
    My name is Yaohan Chen. I am a software and web developer currently available for hire.
    You are welcome to contact me at
    <a href='mailto:yaohan.chen@gmail.com'>yaohan.chen@gmail.com</a>.
  </p>
  <p>
    On this web site you can see the projects I have worked on, the skills I have practiced in
    the process, and the technologies I am familiar with. I am still improving this portfolio
    site, so I would appreciate any feedback you could give.
  </p>
</article>


