<article>
  <img class='photo' alt='photo' src='image/photo.png'>
  <p>
    My name is Yaohan Chen. I am a software and web developer currently available for hire.
    You are welcome to contact me at:
  </p>
  <dl class='contact'>
    <dt class='email'>Email</dt>
    <dd class='email'>
      <a href='mailto:yaohan.chen@gmail.com' 
         target='external'
         title='Write me an email'>yaohan.chen@gmail.com</a>
    </dd>
    <dt class='github'>GitHub</dt>
    <dd>
      <a href='http://github.com/hagabaka/'
         target='external'
         title='Visit my GitHub profile'>@hagabaka</a>
    </dd>
    <dt class='twitter'>Twitter</dt>
    <dd class='twitter'>
      <a href='http://twitter.com/hagabaka/'
         target='external'
         title='Visit my Twitter page'>@hagabaka</a>
    </dd>
  </dl>
  <p>
    On this web site you can see the projects I have worked on, the skills I have practiced in
    the process, and the technologies I am familiar with. If you are in need of software
    development services, I would be happy to hear from you even if the technologies listed
    here are not what you expect. I am very effective at learning and applying technologies.
  </p>
  <p>
    I am still improving this portfolio site, so I would appreciate any feedback you could give.
    Thank you for your visit!
  </p>
</article>


