<article class='project' data-bind='attr: {id: id}, click: $root.selectProject'
         title='Show project details'>
  <img class='screenshot' alt='screenshot' data-bind='attr: {src: screenshot}'>

  <h2>
    <a class='name url' title='Open the project site' target='project-site' 
       data-bind='text: name, attr: {href: url}'></a>
  </h2>

  <span class='type' data-bind='text: type'></span>

  <p class='description' data-bind='text: description'></p>
  <div class='story' data-bind='html: story'></div>

  <section class='skills'>
    <h3>Skills involved</h3>
    <ul class='skills names' data-bind='foreach: skills, click: $root.selectSkill'>
      <li class='skill name clickable' title='show details about this skill'
          data-bind='text: name'></li>
    </ul>
  </section>

  <section class='technologies'>
    <h3>Technologies used</h3>
    <ul class='technologies names' data-bind='foreach: technologies,
                                              click: $root.selectTechnology'>
      <li class='technology name clickable' title='show details about this technology'
          data-bind='text: name'></li>
    </ul>
  </section>
</article>
