<article class='project' data-bind='attr: {id: id}'>
  <h2>
    <a class='name url' title='Open the project site' target='project-site' 
       data-bind='text: name, attr: {href: url}'></a>
  </h2>

  <span class='type' data-bind='text: type'></span>

  <img class='screenshot' alt='screenshot' data-bind='attr: {src: screenshot},
                                                      click: $root.selectProject'>

  <p class='description' data-bind='text: description'></p>
  <div class='story' data-bind='html: story'></div>

  <section>
    <h3>Skills involved</h3>
    <ul class='skills names' data-bind='foreach: skills, click: $root.selectSkill'>
      <li class='skill name clickable' data-bind='text: name'></li>
    </ul>
  </section>

  <section>
    <h3>Technologies used</h3>
    <ul class='technologies names' data-bind='foreach: technologies,
                                              click: $root.selectTechnology'>
      <li class='technology name clickable' data-bind='text: name'></li>
    </ul>
  </section>
</article>
